<%= link_to 'Voltar', products_path %>

<dl>
  <dt><%= Product.human_attribute_name(:name) %></dt>
  <dd><%= @product.name %></dd>
  <dt><%= Product.human_attribute_name(:category) %></dt>
  <dd><%= @product.category %></dd>
  <dt><%= Product.human_attribute_name(:price) %></dt>
  <dd><%= number_to_currency @product.price %></dd>
  <dt><%= Product.human_attribute_name(:description) %></dt>
  <dd><%= @product.description %></dd>
  <dt>Anunciante:</dt>
  <dd><%= link_to "#{@product.profile.social_name}", @product.profile %></dd>
  <dt><%= Product.human_attribute_name(:images) %></dt>
  <% @product.images.each do |image| %>
    <dd><%= image_tag image %></dd>
  <% end %>
</dl>

<p><h3>Comentários:</h3></p>
<% @product.comments.each do |comment| %>
  <strong><%= "#{comment.profile.social_name}"%></strong>
  <%="  #{l comment.send_date, format: :long}:" %>
  <div>
  <%= "#{comment.body}" %>
  </div>
<% end %>

<%= form_with model: [@product, @product.comments.build], local: true do |f| %>
  <%= f.label :body, 'Enviar comentário' %>
  <%= f.text_area :body %>
  <%= f.submit 'Enviar' %>
<% end %>