<%= link_to 'Voltar', products_path %>

<%= render @product %>

<p><h3>Comentários:</h3></p>
<% @product.comments.each do |comment| %>
  <strong><%= "#{comment.profile.social_name}"%></strong>
  <%="  #{l comment.send_date, format: :long}:" %>
  <div>
  <%= "#{comment.body}" %>
  </div>
<% end %>

<%= form_with model: [@product, @product.comments.build], local: true do |f| %>
  <%= f.label :body, 'Enviar comentário' %>
  <%= f.text_area :body %>
  <%= f.submit 'Enviar' %>
<% end %>

<% if @product.waiting_confirmation? %>
  <% if @product.profile == current_user.profile %>
    <strong>Aguardando confirmação de venda</strong>
    <%= link_to 'Confirmar venda', edit_product_path(@product.id) %>
  <% else %>
    <strong>Aguardando confirmação de venda</strong>  
  <% end %>
<% elsif %>
  <% if @product.sold? %>
    <strong>Vendido</strong>
    <%= "Preço final: #{number_to_currency @product.sale.final_price}"%>
  <% end %>
<% else %>
  <%= link_to 'Comprar', new_product_sales_path(@product.id) %>
<% end %>