<%= link_to 'Voltar', root_path %>

<p><strong>Produtos anunciados:</strong></p>
<ul>
<% @current_profile_products.each do |product| %>
  <% if product.waiting_confirmation? %>
    <li><%= link_to "#{product.name} - Aguardando confirmação", product %></li>
  <% elsif product.sold? %>
    <li><%= link_to "#{product.name} #{number_to_currency product.sale.final_price} 
                     - Vendido", product %></li>
  <% else %>
    <li><%= link_to "#{product.name} #{number_to_currency product.price} 
                     - Disponível", product%></li>
  <% end %>
<% end %>
</ul>

<strong>Produtos comprados:</strong>
<ul>
<% @current_profile_sales.each do |sale| %>
  <% if sale.product.sold? %>
    <li><%= link_to "#{sale.product.name} #{number_to_currency sale.final_price}", sale.product%></li>
  <% end %>
<% end %>
</ul>

<strong>Produtos aguardando confirmação:</strong>
<ul>
<% @current_profile_sales.each do |sale| %>
  <% if sale.product.waiting_confirmation? %>
    <li><%= link_to "#{sale.product.name} #{number_to_currency sale.final_price}", sale.product%></li>
  <% end %>
<% end %>
</ul>